# rename this file to .env

GOOGLE_API_KEY=key
OPENAI_API_KEY=key

# LLM
LLM_PROVIDER=gemini
LLM_MODEL=gemini-2.5-flash

# Embedding
EMBEDDING_PROVIDER=openai
EMBEDDING_MODEL=text-embedding-3-small

# Database
DATABASE_URL=psotgreSQL_url

# Logging
LOG_LEVEL=INFO